.card {
	margin: 3rem;
	height: 500px;
	width: 500px;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #e15241;
	-webkit-box-shadow: 3px 3px 15px 0px #000000;
	box-shadow: 3px 3px 15px 0px #000000;
}

.creationCard {
	height: 100%;
	width: 100%;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #e0e0e0;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	margin-bottom: 2rem;
}

.top_container {
	height: 20%;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
}

.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
	font-size: 7rem;
}
.bot_container {
	height: 20%;
	width: 100%;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
}
